---
language: java

jdk:
  - openjdk6
  - openjdk7
  - oraclejdk7
  - oraclejdk8

script:
  - TERM=dumb ./gradlew check --info
  - TERM=dumb ./gradlew shadowJar --info
  - python -m py_compile third-party/datadog/plog.py
